<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="assets/style.css" rel="stylesheet">
</head>
<body>

    <!-- Header start -->
    <%-include('partials/header'); %>
    <!-- Header end -->

    <h1>yang benar aja, rugi dong cok</h1>


    <div class="mt-8">
        <!-- Footer start -->
        <%-include('partials/footer'); %>
        <!-- Footer end -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</html>